<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873376294563-2t6ocflc2s1p1n9lj078lhvm3a0f10dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873376294563-2t6ocflc2s1p1n9lj078lhvm3a0f10dg</string>
	<key>API_KEY</key>
	<string>AIzaSyClhuJK4qrvSscV3a4msYvxG3xVE8gV9c0</string>
	<key>GCM_SENDER_ID</key>
	<string>873376294563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admin</string>
	<key>PROJECT_ID</key>
	<string>crud-test-4747</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-test-4747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873376294563:ios:ed2793c4782f990c954116</string>
</dict>
</plist>